default_message_text = This is a different message to test the configuration file.
# Current message (message_wav and message_text)
# File where current message is stored.
message_wav = message
# Network interface address and port number that the sip server should bind to and listen at. To listen to all
# existing interfaces, use address 0.0.0.0. (This is true for the web server as well.) 
sip_interface = 0.0.0.0
sip_port = 35078
sip_user = robottest
# Network interface address and port number that HTTP web server should bind to and listen at

http_interface = 127.0.0.1

http_port = 8080 
